@charset "utf-8";


/* ----------------------------------------   Reset and Text defaults   --------------------------------------------    */



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus { outline:0 }
ins { text-decoration:none }
del { text-decoration:line-through }
table {
	border-collapse:collapse;
	border-spacing:0
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom:20px;  }

a:focus { outline:0 }

hr {
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
}
h1 {
	font-size:33px;
	line-height: 40px;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
}
h2 {
	font-size:24px;
	line-height: 24px;
	color: #9e9e9e;
	font-weight: normal;
}
h3 { font-size:18px; font-weight:normal; text-transform: uppercase; }
h4 {
	font-size:12px;
	margin-bottom: 15px;
}
h5 { font-size:9px }
h6 { font-size:9px; 	margin-bottom: 5px; }
ol { list-style:decimal }
ul { list-style:none; }
li { }
a, a:visited {
	color:#2C2C2C;
	text-decoration: none;
}
a:hover {
	color:#44A2DF;
	text-decoration: none;
}

.account h3{
	margin-bottom: 0px;
	text-align:center;
}
.account h5{
	margin-bottom: 0px;
	font-size:12px;
	text-transform: uppercase;
	color: #a7a7a7;
	font-weight: normal;
	text-align:center;
}






/* -------------------------   Hinzugefügte Styles (navigation, accordion, sidebar, etc)   --------------------------   */







.messages h4 { margin-bottom:2px; }
h3 { margin-bottom:5px; margin-top:30px; }

h1, h2, h3, h4, p, ul, ul {clear:both}

hr { margin-bottom:0px; }

table {
	border-collapse:collapse;
	margin-bottom:15px;
	width:90%;
	text-align:left;
}
	
table caption {
	text-align:center;
	font-size:18px;
	padding-bottom:10px;
	margin-top:10px;
}
	
table td,
table th {
	padding:5px 15px 5px 15px;
	border:0px solid #cccccc;
	border-width:0px 0px 1px 0px;
}
	
thead th {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../image/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: 0 top;
	border-bottom-width:0;
	padding-top:8px;
	padding-bottom:12px;
	font-size:12px;
	border-width:1px 1px 1px 1px;
}
			
thead th[colspan], thead th[rowspan] { background-color: #06C; }
	
tbody th,
tfoot th {
	text-align:left;
	background-color: #F9F9F9;
	vertical-align:middle;
}
	
tbody td,
tfoot td {
	text-align:left;
	background:#fff;
	vertical-align:middle;
}
	
tfoot th {
	background:#b0cc7f;
}
	
tfoot td {
	background:#f0f0f0;
	font-weight:bold;
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(top, white, whiteSmoke);
	background-image: -ms-linear-gradient(top, white, whiteSmoke);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
	background-image: -webkit-linear-gradient(top, white, whiteSmoke);
	background-image: -o-linear-gradient(top, white, whiteSmoke);
	background-image: linear-gradient(top, white, whiteSmoke);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5')";
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 white;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 white;
	padding: 0px 5px;
	border-left: 0px; border-right: 0px;
}
	
tbody tr.odd th{ background-color: rgb(202, 229, 255); }	
tbody tr.odd td { 
	background: rgb(202, 229, 255);
	/*border-right-color:#edf7ff;*/
}
	
.default {
color: #C00;
font-weight:bold;
vertical-align:middle;
}
.tweenTable td {background:#edf7ff;}
.tweenTable thead th { /*text-align:center;*/}
.tweenTable td.disabled {
background-color:#FFF;
background-repeat: repeat;
}

.tweenLink {font-size:18px; text-align:center; vertical-align:middle; background:#edf7ff; line-height:80px;}
.thmain { background-color: #FFF; }
.node {color: #248cce; font-size:12px;}
.intend_1 {padding-left:50px;}
.intend_2 {padding-left:100px;}
.intend_3 {padding-left:150px;}

#header, #footer {
	float: left;
	width: 100%;
	height: 44px;
	color: #fff;	
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2C2C2C;
	background-image: -moz-linear-gradient(top, #263849, #222);
	background-image: -ms-linear-gradient(top, #263849, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#263849), to(#222));
	background-image: -webkit-linear-gradient(top, #263849, #222);
	background-image: -o-linear-gradient(top, #263849, #222);
	background-image: linear-gradient(top, #263849, #222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#263849', endColorstr='#222222', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#263849', endColorstr='#222222')";
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#sidebar {
	width: 200px;
	float: left;
	padding: 0 10px 20px;
	border-right: 0px solid #e2e2e2;
	min-height: 500px;
	margin-top: 0px;
}

#sidetreecontrol{ clear:both; }

#sidetreecontrol {
	font-size: 10px;
	margin-top: -12px;
	margin-left: 75px;
	/*padding-bottom: 18px;
	margin-bottom: 15px;
	border-bottom: 3px double #d1d1d1;*/
	
}
#sidebar .accordion {
	margin-bottom: 20px;
	margin-right: 1px;
	margin-top: 3px;
}
#sidebar .accordion-group {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	border-color: #CCC;
	border-style: solid;
	border-width: 0 0 0px;
}
#sidebar .accordion-heading {
	text-shadow: 1px 1px 0 #EFEFEF;
	background: #E0E0E0;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	height: 20px;
	width: 90%
}
#sidebar .accordion-group .accordion-heading a {
	color: #222;
	height: 10px;
}
.accordion-heading .accordion-toggle { padding: 0; }
.nav li + .nav-header, nav-list {
	margin-top: 9px;
	margin-left: -40px;
}
.nav-list > li > a {
	padding: 3px 15px;
	margin-left: -27px;
	color: #111;
}
.nav > li > a:hover { 
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background: #ddd;
}
.nav-list .nav-header {
	margin-left: -40px;
}
.nav-list { margin-bottom: 20px; }
.nav-list .divider {
	height: 1px;
	margin: 1px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
	width: 170px;
	margin-left: -35px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #3C4C5B;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	background: #263849 !important;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;	
}
#sidebar .accordion-heading {
	padding: 10px 8px;
	font: 15px/1.9em 'Open Sans', arial, sans-serif;
	font-weight: 777;
	color: #4A515B;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dadada) );
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#dadada 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#dadada 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#dadada 100%);
	background: linear-gradient(top, #f7f7f7 0%,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dadada');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dadada')";
	border: 1px solid #b7b7b7;
	border-radius: 7px;
	margin-bottom: 7px;
}
#sidebar .accordion-heading a {
	font-weight: 777;
	color: #4A515B;
}
.accordion-inner {
	padding: 3px 15px;
	border-top: 0px solid #E5E5E5;
	text-align: left;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
}
.accordion-heading a {
	float: left;
	margin-top: -3px;
	margin-left: 7px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}

.breadcrumb {
	float:left;
	width: 97%;
}

#content-body {
	margin-left: 220px;
	padding-right: 20px;
	padding-left: 5px;
	background: #096;
	
}
#footer {
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(top, whiteSmoke, white);
	background-image: -ms-linear-gradient(top, whiteSmoke, white);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(white));
	background-image: -webkit-linear-gradient(top, whiteSmoke, white);
	background-image: -o-linear-gradient(top, whiteSmoke, white);
	background-image: linear-gradient(top, whiteSmoke, white);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff')";
	line-height: 10px;
	border-bottom: 0px;
	border-top: 2px solid #ddd;
}
#container {
	float: left;
	width: 100%;
	height: 100%;
}
#top-navi {
	float: right;
	width: 400px;
	text-align: right;
	padding-right:50px;
	margin-top: 12px;
	color: #ddd; 
	font: 12px/1.7em 'Open Sans', arial, sans-serif;
}
#top-navi a { color: #fff; font: 12px/1.7em 'Open Sans', arial, sans-serif; }

#logo {
	float: left;
	padding-left:40px;
}
#copyright {
	font-size: 9px;
	color: #777;
	float: right;
	padding-right: 50px;
	margin-top: 12px;
}
.last-update { float: right; }
.breadcrumbs { float: left; }
#content {
	float: left;
	width: 100%;
	padding:0 0% 40px;
}

#content h1 {text-transform:none;}

#content p {max-width:100%;}
#content ul p {margin-bottom:0px;}
#content ul, #content ol {
	margin-left:5px;
	margin-top:0px;
	list-style-position: inside;
}
#content ol ul, #content ul ul { margin-bottom:5px;}

#content ul li {
	background-image:url(../image/bullet_red.gif);
	background-position:10px 7px;
	background-repeat:no-repeat;
	padding-left:19px;	
}
#content.root ul {margin-top:-15px;}
#content.root ul ul {margin-top:0px;}

p + ul {margin-top:-15px;}

.note { background-color: #FFF1A9;}
ul.note {padding:15px;}
p.note{ font-size:11px; background-color: #FFF1A9; padding:5px 15px; }
ul p.note{ font-size:11px; background-color: #FFF1A9; padding:5px 15px; margin:5px; }

.head span a.icon-link {font-size:12px;}







/* --------------------------   Ab hier die stylesheets.css von OpenCart (viele sind modifiziert !!!) ---------------------- */






.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
/*	border: 1px solid #DBDBDB;
	background: url('../image/box.png') repeat-x;   */
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
	margin: 0px;
	margin-left: 7px;
	padding: 11px 0px 0px 0px;
	color: #0A3369;
	float: left;
}
.box > .heading h1 img {
	float: left;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 8px;
	width: 0px;
	height: 0px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content {
	padding: 10px;
	padding-right: 1px;
	margin-top: 60px;
	margin-left: 0px;
	/* border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;  */
}
a.button, .list a.button {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	background: #2185C5;
}
.ui-widget-header {
	background: none;
	color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	color: #777;
}
.ui-datepicker .ui-icon {
	background-image: url(../javascript/jquery/ui/themes/ui-lightness/images/ui-icons_222222_256x240.png);
}


a.button, .list a.button { text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	color: #fff;
	background-color: #263849; 
	background-image: -moz-linear-gradient(top, #3C4C5B, #263849); 
	background-image: -ms-linear-gradient(top, #3C4C5B, #263849); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849)); 
	background-image: -webkit-linear-gradient(top, #3C4C5B, #263849); 
	background-image: -o-linear-gradient(top, #3C4C5B, #263849); 
	background-image: linear-gradient(top, #3C4C5B, #263849); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0); 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849')";
	border-color: #684682 #263849 #263849 #684682; 
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); 
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 3px 14px 3px 14px;
	line-height: 30px;
} 

a.button:hover, .list a.button:hover {
	color: #fff;
 	background-image: -moz-linear-gradient(top, #EB6A15, #E45017); 
	background-image: -ms-linear-gradient(top, #EB6A15, #E45017); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EB6A15), to(#E45017)); 
	background-image: -webkit-linear-gradient(top, #EB6A15, #E45017); 
	background-image: -o-linear-gradient(top, #EB6A15, #E45017); 
	background-image: linear-gradient(top, #EB6A15, #E45017); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB6A15', endColorstr='#E45017', GradientType=0); 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB6A15', endColorstr='#E45017')";
	border-color: #684682 #263849 #263849 #684682; 
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

.list {
	border-collapse: collapse;
	width: 100%;
/*	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD; */
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 4px;
}

.dashboard-content .list { margin-top: 20px; }

.list td {
/*	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;  */
}
.list thead td {
	padding: 7px 14px;
	margin: 0 0 18px;
	list-style: none;
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(top, white, whiteSmoke);
	background-image: -ms-linear-gradient(top, white, whiteSmoke);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
	background-image: -webkit-linear-gradient(top, white, whiteSmoke);
	background-image: -o-linear-gradient(top, white, whiteSmoke);
	background-image: linear-gradient(top, white, whiteSmoke);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5')";
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 white;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 white;
	padding: 0px 5px;
	border-left: 0px; border-right: 0px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: underline;
	color: #2c2c2c;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	background: #FFFFFF;
	height: 27px;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list tr.filter td {
	margin: 0 0 18px;
	list-style: none;
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(top, white, whiteSmoke);
	background-image: -ms-linear-gradient(top, white, whiteSmoke);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
	background-image: -webkit-linear-gradient(top, white, whiteSmoke);
	background-image: -o-linear-gradient(top, white, whiteSmoke);
	background-image: linear-gradient(top, white, whiteSmoke);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5')";
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 white;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 white;
	border-left: 0px; border-right: 0px;
	padding: 5px;
}
.pagination {
/*	border-top: 1px solid #DDDDDD;   */
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
	width: 80%;
}
.pagination .links a:hover {
	background: #DDD;
	color: #111;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	line-height: 18px;
	margin-right: 2px;
}
.pagination .links b {
	border: 1px solid #3C4C5B;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background: #3C4C5B;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	line-height: 18px;
	float: left;
}
.pagination .results {
	float: right;
	padding-top: 7px;
}
table.form {
	width: 99%;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 70px;
	margin-left: 10px;
	border: 1px solid #ddd;
}
table.form > tbody > tr > td:first-child {
	width: 200px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 200px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 19px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
	margin-top: 70px;
}
.htabs a {
	color: #fff;
	background-color: #263849;
	background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
	background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
	background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
	background-image: -o-linear-gradient(top, #3C4C5B, #263849);
	background-image: linear-gradient(top, #3C4C5B, #263849);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849')";
	border-color: #684682 #263849 #263849 #684682;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	padding: 7px 15px 6px 15px;
	float: left;
	text-align: center;
	text-decoration: none;
	font: 11px/1.7em 'Open Sans', arial, sans-serif;
	margin-right: 4px;
	display: none;

}
.htabs a:hover { color:#fff; text-decoration: underline; }
.htabs a.selected {
	background: #FFFFFF;
	color: #111;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	line-height: 20px;
	margin-top: -3px;
	text-decoration: underline;
}

.vtabs {
	padding: 33px 0px;
	/* height: 400px;
	float: left; */
	display: block;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 133px;
	margin-bottom: 4px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #f4f4f4;
	padding: 7px 14px 7px 15px;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-khtml-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
	cursor: hand;
}
.vtabs-content {
	margin-left: 163px;
	margin-top: -81px;
	border-left: 1px solid #DDDDDD;
}
#tab-general .vtabs-content table.form {
	/* margin-top: 45px; */
	border-top: 1px solid #ddd;
}
.content .vtabs-content table.form { border-top: 1px solid #ddd; }
#tab-payment table.form { margin-top: 76px; }
#tab-shipping table.form { margin-top: 76px; }
#tab-product table { margin-top: 76px; }
#tab-voucher table { margin-top: 76px; }
#tab-total table { margin-top: 76px; }
#tab-customer table.form { margin-top: 76px; }
#tab-option .vtabs-content table.form { margin-top: 48px; }
#tab-general table.form { margin-top: 48px; border-top: 1px solid #ddd; }
.vtabs-content .list thead tr { border-top: 1px solid #ddd; }

.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
.overview {
/*	float: left;
	width: 49%; */
	margin-top: 70px;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
/*	float: right;
	width: 49%;  */
	margin-top: 70px;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
	color: #333;
}
.range, .range select {
	font: 11px;
	margin-top: 3px;
	padding-right: 7px;
}
.latest {
	clear: both;
	margin-top: 70px;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #fff;
	background-image:-moz-linear-gradient(top, #ffffff, #d9d9d9); 
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));  /* Chrome */
	background-image:-o-linear-gradient(top, #ffffff,#d9d9d9);  /* Opera */
	background-image:-ms-linear-gradient(top, #ffffff,#d9d9d9);   /* IE */
	background-image:linear-gradient(top, #ffffff,#d9d9d9); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9')";
	color: #333;
	padding: 8px;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #CCC;
	padding: 10px;
	min-height: 170px;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}
