
</div> <!-- /container -->
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/scriptbreaker-multiple-accordion-1-min.js"></script>
	<?php if($this->user->getUserName()){ ?>
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/script.js"></script>
	<?php } ?>
    <script language="javascript">
		document.getElementById("ulid").style.display="none";
	</script>

</body>
</html>