/* -->> --------------------------

	Table of Content:
	 1 	 - BASIC
	 2 	 - LINKS
	 3 	 - HEADER
	 4 	 - MAIN NAVIGATION 
	 5 	 - DROPDOWN
		 -->> --------------------------- */
/* --->> 4 - MAIN NAVIGATION
------------------------------------------*/
.navbar .main_nav { margin: 0; background: url('image/nav_sep.png') no-repeat left bottom; }
.navbar .main_nav > li > a { float: left; text-indent: -9999px; position: relative; padding: 11px 0 10px; width: 45px; }
.navbar .main_nav > li { background: url('image/nav_sep.png') no-repeat right bottom; }
.navbar .main_nav .info { background-color: #00A99D; color: #FFFFFF; font-size: 10px; height: 13px; line-height: 1.1; min-width: 13px; position: absolute; right: 8px; text-indent: 0; text-align: center; top: 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; text-shadow: none; }
.navbar .main_nav .main_nav_open ul { display: block; }
.navbar .navbar-inner { border: none; background: #000; }

.orders > a { background: url('image/order.png') no-repeat center top; }

.orders > a:hover, .orders.open > a { background: url('image/order.png') no-repeat center top; }


.navbar .main_nav > li > a:hover, .navbar .main_nav > .open > a { background-color: #2c2c2d; background-color: rgba(0, 0, 0, 0.35) !important; -webkit-transition: all 500ms; -moz-transition: all 500ms; -ms-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms false; }

/* --->> 5 - DROPDOWN
------------------------------------------*/
.navbar .nav > .styled .dropdown-menu { border: 0; margin: 0; padding: 0; top: 98%; background: #000; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset, 0 2px 5px 0 rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset, 0 2px 5px 0 rgba(0, 0, 0, 0.6); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset, 0 2px 5px 0 rgba(0, 0, 0, 0.6); }
.navbar .nav > .styled .dropdown-menu:before, .navbar .nav > .styled .dropdown-menu:after { border: 0; }
.navbar .nav > .styled .dropdown-menu li { border-top: 1px solid #535353; border-bottom: 1px solid #282828; }
.navbar .nav > .styled .dropdown-menu li:first-child { border-top: none; }
.navbar .nav > .styled .dropdown-menu li.show_all { color: #cacacc; font-size: 11px; text-align: center; background-color: #2c2c2d; background-color: rgba(0, 0, 0, 0.25) !important; }
.navbar .nav > .styled .dropdown-menu a { color: #cacacc; padding: 0; font-size: 11px; white-space: normal; }
.navbar .nav > .styled .dropdown-menu li > a:hover, .navbar .nav > .styled .dropdown-menu li > a:focus, .navbar .nav > .styled .dropdown-menu .active > a, .navbar .nav > .styled .dropdown-menu .active > a:hover { color: #00A99D; background: #2c2c2d; background: rgba(0, 0, 0, 0.35) !important; -webkit-transition: all 500ms; -moz-transition: all 500ms; -ms-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms false; -webkit-box-shadow: 0px 0px 5px 0 1px 2px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0px 0px 5px 0 1px 2px rgba(0, 0, 0, 0.2) inset; box-shadow: 0px 0px 5px 0 1px 2px rgba(0, 0, 0, 0.2) inset; }
.navbar .nav > .styled .dropdown-menu li:first-child:hover { border-top: none; }
.navbar .nav > .styled .dropdown-menu li:hover { border-top: 1px solid #282828; }
.navbar .nav > .styled.logout .dropdown-menu a { padding: 7px 15px; }

#logout .dropdown-menu { 
min-width: 250px; 
max-height:420px;
overflow-y:auto;
}

#logout .dropdown-menu::-webkit-scrollbar,-moz-scrollbar {
width: 6px;
}

#logout .dropdown-menu::-webkit-scrollbar-thumb,-moz-scrollbar-thumb {
background: #ccc;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
cursor: pointer;
}

