@import '../reset.css';

html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background: url(../image/gray_jean.png);
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0px;
	padding: 30px 0;
	direction: rtl;
	text-align: right;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
	margin: 0 0 20px 10px;
}
.clear { clear: both }
.welcome {
	font-size: 25px;
	overflow: hidden;
	float: right;
	width: 100%;
}
.welcome-wrap {
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
h2 {
	color: #000000;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #787878;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #fff;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Tahoma, Geneva, sans-serif;
}
select {
	background: #fff;
	border: 1px solid #ccc;
	padding: 3px;
}
label {
	cursor: pointer;
}

/* layout */
.container_12 {
	background: #fff;
	border: 1px solid #eee;
}
.wrap {
	overflow: hidden
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
}
#column-left {float: right;}
#column-right {float: left;}

/* header */
header {
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}
.timer {
	float: right;
	margin: 15px 0;
	color: #000;
}
header #welcome {
	margin: 15px 0;
	z-index: 5;
	text-align: left;
	color: #000;
}
#welcome a {
	color: #000;
}
.strip {
	line-height: 40px;
	background: #000;
	position: relative;
	min-height: 40px;
	height: auto;
	margin-bottom: 20px;
}
.strip .left-part {
	position: absolute;
	width: 10px;
	height: 10px;
	right: 0;
	bottom: -10px;
	background: url(../../image/stripe-left-part-rtl.png) no-repeat center;
}
.strip .right-part {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 0;
	bottom: -10px;
	background: url(../../image/stripe-right-part-rtl.png) no-repeat center;
}

/* links
---------------------------------------------------*/
.strip .links {
	float: right;
	margin-right: 5px;
}
.strip .links a {
	float: right;
	display: block;
	padding: 0px 10px 0px 0;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
}
.strip .links a + a {
	margin-left: 8px;
}
.strip .links a:hover {
	text-decoration: underline
}

/* logo
---------------------------------------------------*/
header #logo {
	float: right;
}


/* Top Blocks
---------------------------------------------------*/
.top-blocks li {
	display: inline-block;
	margin: 10px 0 10px 10px;
	overflow: hidden;
	width: 23%;
	vertical-align: top;
}
.top-blocks li img {
	float: right;
	vertical-align: middle;
	margin-left: 10px;
}
.top-blocks p {
	font-size: 10px;
	margin-bottom: 0;
}

/* language
---------------------------------------------------*/
#language {
	float: left;
	width: auto;
	color: #fff;
	line-height: 17px;
	margin: 11px 5px 0 10px;
	font-size: 10px;
	text-transform: uppercase;
}
#language img {
	cursor: pointer;
	margin-left: 5px;
	margin-top: 3px;
}

/* currency
---------------------------------------------------*/
#currency {
	float: left;
	width: auto;
	color: #fff;
	line-height: 17px;
	margin: 9px 5px 0 10px;
	font-size: 10px;
	text-transform: uppercase;
}
#currency a {
	display: inline-block;
	padding: 2px;
	color: #fff;
	text-decoration: none;
	margin-left: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}


/* cart
-------------------------------------------------*/
header #cart {
	position: relative;
	float: left;
	padding-left: 10px;
	margin-top: 10px;
}
#cart .title-block-top {
	text-transform: uppercase
}
header #cart .heading {
	float: left;
	padding-right: 50px;
	height: 50px;
	line-height: 18px;
	background: url(../../image/cart-top.png) right top no-repeat;
	position: relative;
	z-index: 1;
}
header #cart .heading a {
	color: #000;
	text-decoration: none;
}
header #cart .content {
	clear: both;
	display: none;
	position: absolute;
	top: 50px;
	left: 10px;
	min-width: 300px;
	-moz-box-shadow: 0px 1px 7px #ccc;
	-webkit-box-shadow: 0px 1px 7px #ccc;
	box-shadow: 0px 1px 7px #ccc;
	background: #FFF;
	z-index: 1000;
	line-height: 18px;
	padding: 10px;
}
header #cart.active .content {
	display: block;
}
.mini-cart-info .one-product {
	float: right;
	clear: both;
	padding: 12px;
	border-bottom: 1px dashed #dddddd;
	width: 91%;
	position: relative;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	padding: 3px;
	text-align: right;
	float: right;
	margin-left: 10px;
}
.mini-cart-info .name {
	margin-bottom: 15px;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .name a {
	font-weight: bold;
}
.mini-cart-info .quantity {
	text-align: left;
}
.mini-cart-info td.total {
	text-align: left;
}
.mini-cart-info .remove {
	text-align: left;
	position: absolute;
	left: 20px;
	top: 10px;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: left;
	margin: 10px 0;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
	color: #787878;
	line-height: 11px;
}
.mini-cart-total td {
	padding: 4px;
}
header #cart .checkout {
	text-align: left;
	float: right;
	width: 85px;
	margin-right: 8px;
}
header #cart .checkout a {
	display: block;
	float: right;
	width: 85px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	color: #fff;
	text-decoration: none;
	margin-top: 5px;
}
a.ca {
	background: #7dc50d;	
}
a.ca:hover {
	background: #6ba60e;
}
a.ch {
	background: #ffae00 ;
}
a.ch:hover {
	background: #D69E1D;
}
header #cart .empty {
	padding: 10px 0;
	text-align: center;
}



/* Search
---------------------------------------------------*/
#search {
	height: 44px;
	line-height: 44px;
	background: #eee;
	width: 100%;
	float: left;
	position: relative;
	z-index: 15;
	border-bottom: 3px solid #ccc;
}
.button-search {
	float: left;
	width: auto;
	padding: 11px 10px;
	position: relative;
	height: 25px;
	cursor: pointer;
	background: none !important;
	color: #fff;
	text-align: center;
}
.button-search:hover {
	opacity: .8;
}
#search input {
	background: transparent;
	width: 80%;
	height: 21px;
	border: none;
	color: #000;
	font-size: 12px;
	float: right;
	margin: 8px 5px 0 0;
}
/*Auto fill*/
#livesearch_search_results {
	margin:0px;
	padding:5px;
	position: absolute;
	top: 30px;
	right: 0;
	background-color: #fff;
	list-style-type: none;
	z-index: 12;
	width: 268px;
	border: 1px solid #eee;
	color: #fff;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}
#livesearch_search_results li {
	padding: 5px;
	
}
#livesearch_search_results li + li {
	border-top: 1px solid #eee;
}
#livesearch_search_results a,
#livesearch_search_results a:visited {
	text-decoration: none;
	width: 100%;
	display: block;
}
#livesearch_search_results a:hover {
	color: #fff !important;
}
#livesearch_search_results li:hover {
	background-color: #ccc;
	color: #fff !important;
}
#livesearch_search_results li:hover a {
	color: #fff !important;
}
#livesearch_search_results .highlighted {
	background-color: #ccc;
	color: #fff !important;
}
/**/

/* Categories drop on search bar */
.dropdown dd, .dropdown dt, .dropdown ul { 
	padding:0px; 
	float: left; 
	height: 39px; 
	margin-left: 2px; 
	position: relative;
	background: #7dc50d;
}
.dropdown dd { 
	position:relative; 
}
.dropdown a, .dropdown a:visited { 
	color:#fff; 
	text-decoration:none; 
	outline:none;
}
.dropdown a:hover { 
	color:#fff;
}
.dropdown dt a:hover { 
	color:#fff;
}
.dropdown dt a {
	background: url(../../image/arrow-down-white.png) no-repeat scroll 90% center; 
	display:block;
	padding: 0 10px 0 30px;
}
.dropdown dt a span {
	cursor:pointer; 
	display:block;
}
.dropdown dd ul { 
	background:#6AA50D none repeat scroll 0 0; 
	color:#fff; 
	display:none;
	right:2px; 
	padding:5px 0px; 
	position:absolute; 
	top:39px; 
	width:auto; 
	min-width:137px; 
	list-style:none;
	line-height: 20px;
}
.dropdown span.value { 
	display:none;
}
.dropdown dd ul li a { 
	padding: 2px 10px; 
	display:block;
	background-color:#6AA50D;
}
.dropdown dd ul li + li {
	border-top: 1px solid #fff;
}
.dropdown dd ul li a:hover { 
	background-color:#6AA50D;
	color: #000;
}
.dropdown img.flag { 
	border:none; 
	vertical-align:middle; 
	margin-right:10px; 
}
.flagvisibility { display:none;}


/* menu
---------------------------------------------------*/
.top-menu {
	line-height: 43px;
	min-height: 44px;
	height: auto;
	position: relative;
	background: #3595BF;
	margin-bottom: 20px;
	border-bottom: 3px solid #297394;
}
.homeIcon {
	margin-top: 10px;
}
.top-menu ul li {
	display: inline;
	padding: 0 15px;
	float: right;
	line-height: 44px;
}
.top-menu ul li, .top-menu ul li a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
.top-menu ul li:hover {
	background: #297394;
}
.top-menu ul li:hover, .top-menu ul li:hover a {
	color: #fff;
}
a.mainCat, .mainCat, .one-dept li a:hover {
	color: #3595BF !important
}
.cat-wrap {
	display: none;
}
li.cats {
	padding-left: 20px;
	background: url(../../image/arrow-down-white.png) left center no-repeat
}
li.cats:hover .cat-wrap {
	display: block;
	position: absolute;
	top: 43px;
	right: 0;
	width: 134%;
	background: #fff url(../../image/bg-gray.png) bottom repeat-x;
	border: 1px solid #eee;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.cat-wrap ul li {
	line-height: 23px;
}
.one-dept {
	display: inline-block;
	width: 30%;
	color: #000;
	padding: 15px;
	vertical-align: top;
}
.one-dept a.mainCat {
	color: #78ba11;
	font-size: 16px !important;
	text-shadow: none !important;
}
.one-dept ul {
	margin-right: 0 !important
}
.one-dept li {
	float: right !important;
	display: inline;
	width: 47% !important;
	color: #000 !important;
	font-size: 12px !important;
	border-bottom: 1px dashed #ccc;
	text-shadow: none !important;
	margin-left: 3% !important;
	line-height: 25px;
	list-style: square;
	padding: 0 !important;
}
.one-dept li:hover {
	background: none !important
}
.cat-wrap .one-dept li a {
	float: right !important;
	display: inline;
	font-size: 14px !important;
	color: #000 !important;
	text-shadow: none !important;
}
.one-dept li a:hover {
	color: #787878
}


/* Breadcrumb
---------------------------------------------------*/
.wrap .breadcrumb {
	margin: 0 10px 20px 10px;
}
.breadcrumb {
	color: #787878;
	font-weight: bold;
	margin-bottom: 20px;
}
.breadcrumb a {
	color: #787878;
	text-decoration: none;
}
.breadcrumb a + a {
	color: #5B9103;
}
.success, .warning, .attention, .information {
	padding: 10px 33px 10px 10px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../../image/success.png') 99.5% center no-repeat;
	border-top: 1px solid #BBDF8D;
	border-bottom: 1px solid #BBDF8D;
}
.success a {
	background: #BBDF8D;
	color: #000;
	text-decoration: none;
}
.warning {
	background: #FFD1D1 url('../../image/warning.png') 99.5% center no-repeat;
	border-top: 1px solid #F8ACAC;
	border-bottom: 1px solid #F8ACAC;
}
.warning a {
	background: #F8ACAC;
	color: #000;
	text-decoration: none;
}
.attention {
	background: #FFF5CC url('../../image/attention.png') 99.5% center no-repeat;
	border-top: 1px solid #F2DD8C;
	border-bottom: 1px solid #F2DD8C;
}
.attention a {
	background: #F2DD8C;
	color: #000;
	text-decoration: none;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: left;
	padding-top: 4px;
	padding-left: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: right;
	padding: 7px;
}
table.list .right {
	text-align: left;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	margin: 0 10px 20px 10px;
	width: 97.5%;
}
.pagination .links {
	float: right;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #787878;
	float: right;
	background: #eee;
	margin-left: 2px;
}
.pagination .links a:hover {
	border: 1px solid #ccc;
}
.pagination .links b {
	display: inline-block;
	float: right;
	border: 1px solid #eee;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	background: #eee;
	margin-left: 2px;
}
.pagination .results {
	float: left;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	position: relative;
	background: #7dc50d;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	padding: 3px 12px;
}
a.button:hover, input.button:hover {
	background: #6ba60e;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: right;
	text-align: right;
}
.buttons .right {
	float: left;
	text-align: left;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-left: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: hidden;
}


/* box 
----------------------------------------------------*/
.box {
	margin-bottom: 20px;
}
.style-one {
	background: #fff url(../../image/bg-gray.png) bottom repeat-x;
	position: relative;
	margin: 0 10px 40px 10px;
	clear: both;
}
.style-one .box-heading {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.style-one-shadow {
	background: url(../../image/style-one-shadow-rtl.png) center center no-repeat;
	width: 356px;
	height: 19px;
	position: absolute;
	left: 0;
	bottom: -19px;
}
.box .box-heading {
	position: relative;
	background: #eee;
	padding: 8px 10px 7px 10px;
	font-size: 18px;
	line-height: 23px;
	color: #000;
	border-bottom: 3px solid #ccc;
	font-family: Verdana, Geneva, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
	clear: both;
}
.heading-shadow {
	display: none;
}
.box .box-content {
	padding-top: 20px;
	position: relative;
	clear: both;
}
/* Featured
-----------------------------------------------------*/
.featured .box-heading{
	background: #7dc50d;
	color: #fff;
	border-bottom: 3px solid #6BA60E;
}
.featured .main {
	margin-bottom: 20px;
}

/****** carousel effect on features *****/
.foo3 {

}
.list_carousel {
	width: 100%;
	display: block;
	margin-left: 0;
	margin-bottom: 0;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	color: #999;
	text-align: center;
	margin: 0;
	padding: 0 25px;
	width: 160px !important;
	display: block;
	float: left;
}
.list_carousel li + li {
}
.list_carousel.responsive {
	width: 100%;
	margin-right: 0;
}
.pager {
	position: absolute;
	top: 15px;
	left: 10px;
	text-align: left;
}
.pager a {
	float: left;
	position: relative;
	display: block;
	margin: 0 2px;
	font-size: 0pt;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #b3c09d;
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-o-border-radius: 100% 100% 100% 100%;
	text-decoration: none;
	float: right;
	top: -42px;
}
.pager a.selected {
	width: 10px;
	height: 10px;
	text-decoration: underline;
	background: #fff;
	border: 1px solid #fff;
	-moz-box-shadow:inset 2px 1px 3px #ccc;
	-webkit-box-shadow:inset 2px 1px 3px #ccc;
	box-shadow:inset 2px 1px 3px #ccc;
}
a.prev, a.next {
	text-align: center;
	line-height: 25px;
	font-size: 20px !important; 
	width: 25px;
	height: 25px;
	background: #fff;
	float: left;
	display: inline-block;
	margin: 0 4px 0 0;
	color: #555 !important;
	padding: 0 !important;
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	-o-border-radius: 100% 100% 100% 100%;
}
a.prev:hover, a.next:hover {
	background: #333;
	color: #fff !important;
	text-decoration: none;
}
#column-right a.prev, #column-right a.next,
#column-left a.prev, #column-left a.next {
	margin-top: -2px;
}
/* Latest
-----------------------------------------------------*/
.latest .box-heading {
	background: #fff;
	border-bottom: 3px solid #eee;
}
.hover-options {
	display: block;
	float: right;
	margin-top: 7px;
}
.tt .main2 {
	margin-bottom: 0 !important
}
.main2 .hover-options {
	position: relative !important;
	float: right !important;
	bottom: 0 !important;
	height: auto !important;
	display: block; 
}
.hover-options .cart {
	float: right
}
.subs .box-product {
	margin: 0 10px;
}
.latest .main, .main2 {
    display: inline-block;
    float: none;
    /*margin: 0 0 20px 10px;*/
	width: 179px;
	vertical-align: top;
	padding: 20px;
	position: relative;
}
.latest .main {
	/*margin: 0 10px 20px 10px;*/
	width: 158px !important;
}
.latest .main:hover .hover-options {
	right: 10px;
}
.jcarousel-item + .jcarousel-item, .main2 + .main2, .main + .main  {
	border-right: 1px dashed #e5e5e5;
	border-left: none !important;
}
.latest .main .image, .main2 .image {
	text-align: center
}
.latest .main .image img, .main2 .image img {
	width: 80%;
}
.latest .main .sale, .main2 .sale {
	left: 10px !important;
	top: 10px !important;
}
.tt .jcarousel-skin-opencart .jcarousel-next-horizontal, .tf .jcarousel-skin-opencart .jcarousel-next-horizontal {
	top: 115px !important;
	left: 4px !important;
}
.tt .jcarousel-skin-opencart .jcarousel-prev-horizontal, .tf .jcarousel-skin-opencart .jcarousel-prev-horizontal {
	top: 115px !important;
	right: 4px !important;

}
.tt .jcarousel-skin-opencart, .tf .jcarousel-skin-opencart {
	margin: 0;
}
.box .box-heading a {
	color: #fff;
	padding: 2px 10px;
}
.mod {
	height: 30px;
	line-height: 16px;
	border-bottom: none;
	position: absolute;
	top: -26px;
	left: 14px;
}
.mod a {
	border-top: none;
	border-left: none;
	border-right: none;
	background: #919191;
	padding: 3px 10px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-left: 2px;
	display: block;
}
.mod a.selected {
	padding: 3px 10px;
	background: #eee;
	color: #000;
}
/* Cat Group
-----------------------------------------------------*/
.cat-group {
	position: relative;
	margin: 0 0 20px 0;
}
.cat-title {
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px;
	background: #fff;
	display: block;
	margin-bottom: 0;
	clear: both;
	border-bottom: 4px solid #eee;
}
.cat-group h2 {
	
}
.cat-group .name, .cat-group .rating {
	margin-bottom: 4px;
}
.cat-group .image img {
	margin-bottom: 10px;
}
.cat-group .price {
	font-weight: bold;
	margin-bottom: 4px;
}
.cat-group .latest .main {
	/*border-right: none;*/
}
.cat-group .latest .main + .main {
	/*border-left: 1px dashed #ccc;*/
}
.tabs-head {
	position: absolute;
	left: 13px;
	top: 5px;
}
.tabs-head li {
	display: inline;
	margin: 0 3px;
	float: right;
}
.tabs-head li a {
	display: block;
	padding: 5px 10px;
	background: #eee;
	color: #000;
	text-decoration: none;
	font-weight: bolder
}
.tabs-head li a:hover, .tabs-head li.active a {
	background: #919191;
	color: #fff;
}
.tab_container {
}


/* box products 
-----------------------------------------------------*/
.box-product {
	width: 99%;
}
.box-product > div {
	display: inline-block;
	vertical-align: top;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	margin-bottom: 10px;
}
.box-product .name a {
	color: #787878;
	text-decoration: none;
	display: block;
	text-align: right;
	margin-bottom: 4px;
}
.name a {
	color: #787878;
	text-decoration: none;
}
.name a:hover {
	text-decoration: underline
}
.box-product .price {
	display: block;
	color: #000;
	margin-bottom: 4px;
	text-align: right;
	font-weight: bold;
}
.box-product .price-old {
	color: #f00;
	margin-right: 10px;
	text-decoration: line-through;
}
.box-product .price-new {
	color: #000;
	font-weight: bold;
	float: right
}
.main {
	position: relative
}
.sale {
	display: block;
	background: #3595BF;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-o-border-radius: 100% 100% 100% 100%;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	z-index: 1000;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
	text-align: right;
}
.hover-options {
	display: none;
}
.main:hover .hover-options {
	display: block;
	position: absolute;
	width: 160px;
	height: 30px;
	bottom: 50px;
	right: 0;
}
.main .cart, .main2 .cart {
	float: right;
	margin-left: 4px;
}
a.wish {
	display: block;
	float: right;
	width: 30px;
	height: 24px;
	font-size: 0pt;
	background: url(../../image/wish.png) no-repeat center;
	margin-left: 2px;
}
a.compare {
	display: block;
	float: right;
	width: 30px;
	height: 24px;
	font-size: 0pt;
	background: url(../../image/compare.png) no-repeat center;
}
.tooltip span, .tooltip span {
	display: none;
}
.tooltip {
	position: relative
}
.tooltip:hover span, .tooltip:hover span {
	display: block;
	position: absolute;
	top: -24px;
	right: -45px;
	padding: 2px;
	width: 100px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	background: #333;
}

/* Left column + right column product
----------------------------------------------------*/
#column-left .box,
#column-right .box  {
	margin: 0 0 20px 0; 
}
#column-left .banner img,
#column-right .banner img  {
	margin: 0 0 20px 0; 
}
#column-left .box-heading,
#column-right .box-heading  {
	position: relative;
	padding: 6px 10px 6px 10px;
	font-size: 20px !important;
	line-height: 20px;
	background: #7dc50d;
	color: #fff;
	border-bottom: 3px solid #6BA60E;
	margin-right: 0;
	margin-left: 0;
}
#column-left .heading-shadow, 
#column-right .heading-shadow {
	display: block;
	position: absolute;
	background: url(../../image/box-heading-shadow-rtl.png) no-repeat center;
	width: 116px;
	height: 11px;
	bottom: -14px;
	left: 0;
}
#column-left .box-product .image,
#column-right .box-product .image {
	margin-left: 10px;
	width: 80px;
}
#column-left .box-product .image,
#column-right .box-product .image,
#column-left .box-product img,
#column-right .box-product img {
	float: right;
	vertical-align: top;
	max-width: 100%;
}
#column-left .box-product > div,
#column-right .box-product > div {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
}
#column-left .name,
#column-right .name {
	padding-top: 10px;
}
#column-left .cart,
#column-right .cart {
	display: none;
}
#column-left .latest .main,
#column-right .latest .main {
	min-height: 1px;
	height: auto;
	border: none;
	padding: 0;
	width: 100% !important;
	box-shadow: none;
	padding-bottom: 10px;
}
#column-left .latest .main + .main,
#column-right .latest .main + .main {
	border-top: 1px solid #f5f5f5;
}
#column-left .latest,
#column-right .latest {
	float: right;
}
#column-left .banner,
#column-right .banner {
	margin-right: 0;
	margin-left: 0;
}
/* columns featured products
--------------------------------------------*/
#column-left .list_carousel li,
#column-right .list_carousel li {
	width: 260px !important;
}
#column-left .style-one-shadow,
#column-right .style-one-shadow {
	display: none;
}
#column-left .hover-options,
#column-right .hover-options {
	display: none;
}
#column-left .sale,
#column-right .sale {
	display: none
}
#column-left .pager,
#column-right .pager {
	top: 10px;
}

/* box category 
-----------------------------------------------------*/
.category {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.category .box-heading {
	background: #FFBB33 !important;
	padding: 10px 10px 10px 10px !important;
	font-size: 20px !important;
	border-bottom: 3px solid #D69E2B !important;
}
.category .box-content {
	padding-top: 0
}
ul.mega-category {
	background: #fff;
}
ul.mega-category li{
	position: relative;
	line-height: 35px;
}
ul.mega-category li:hover {
	background: #fff;
}
ul.mega-category li + li {
	border-top: 1px solid #eee;
}
ul.mega-category li a {
	background: url(../../image/arrow-right-rtl.png) 6% center no-repeat;
	color: #787878;
	font-size: 14px;
	text-decoration: none;
	padding: 0 15px;
	width: 90%;
	display: block;
}
ul.mega-category li a:hover {
	color: #ffae00;
	background: none;
}
/****** sub menu ******/
.sub-menu {
	display: none;
}
ul.mega-category li:hover .sub-menu {
	display: block;
	position: absolute;
	width: 680px;
	background: #fff;
	padding: 10px;
	border: 1px solid #eee;
	border-right: none;
	right: 100%;
	top: -50px;
	z-index: 10000;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.arrowMenu2 {
	position: absolute;
	right: -19px;
	top: 55px;
	width: 20px;
	height: 20px;
	background: url(../../image/arrow-menu-2-rtl.png) no-repeat center;
	display: block;
}
img.catImg {
	position: absolute;
	left: -50px;
	bottom: -30px;
}
.sub-sub-menu {
	background: #eee;
	padding: 10px;
	overflow: hidden
}
.sub-sub-menu ul {
	list-style: none;
	width: 70%;
}
.sub-sub-menu ul li {
	list-style: none;
	width: 22%;
	padding-left: 2%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}
ul.mega-category li .sub-sub-menu ul li.heading-sub a {
	display: block;
	font-size: 15px;
	color: #000;
	font-weight: 400;
	margin-bottom: 10px;
	background: none;
}
.sub-sub-menu ul li {
	line-height: 18px;
}
.sub-sub-menu ul li:hover {
	background: none
}
.sub-sub-menu ul li + li {
	border-top: none;
}
.sub-sub-menu ul li ul {
	width: 100% !important
}
.sub-sub-menu ul li ul li {
	float: right;
	width: 100%;
	margin-bottom: 0;
}
.sub-sub-menu ul li.heading-sub ul li a{
	font-size: 12px !important;
	padding-right: 25px;
	color: #787878 !important;
	background: url(../../image/arrow-menu-rtl.png) no-repeat 90% 5px !important;
	margin-bottom: 0 !important;
}
.sub-sub-menu ul li ul li a:hover {
	color: #000 !important;
}
.sub-menu h3 {
	font-size: 25px;
	font-weight: normal;
	color: #f5a200;
	margin: 10px 0;
}
.sub-menu p {
	display: block;
	float: right;
	width: 50%;
	line-height: 18px;
}
.sub-menu .button {
	padding: 6px 12px 6px 12px;
	color: #fff;
	width: auto;
	float: right;
	background: #7dc50d;
}
.sub-menu .button:hover {
	color: #fff;
	background: #6ba60e;
}



/* content 
---------------------------------------------------------*/
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: right;
	width: 49%;
}
#content .content .right {
	float: left;
	width: 49%;
}



/* category 
----------------------------------------------------------*/
.category-title {
	color: #000;
	font-size: 20px;
	font-weight: normal;
	margin: 0 10px 20px 10px;
}
.category-info {
	margin: 0 10px 20px 10px;
}
.category-info .image {
	float: right;
	padding: 5px;
	width: 210px;
	margin-left: 15px;
	margin-bottom: 20px;
	border: 1px solid #E7E7E7;
}
.category-info .image img {
	max-width: 100% !important;
}
.right-part-2 {
	float: right;
	width: 70%;
	margin-bottom: 20px;
}
.category-list {
	margin-bottom: 20px;
}
.category-list ul {
	float: right;
	width: 18%;
}
.category-list div {
	color: #000;
	display: inline;
	float: right;
	width: 20%;
	position: relative;
	z-index: 0;
	margin-left: 2%;
}
.category-list div:hover {
	z-index: 50
}
.refine {
	float: right;
	width: 100%;
	margin: 0 10px;
}
.category-list div .image-refine {
	visibility: hidden;
	position: absolute;
	padding: 5px;
	right: 10px;
	border: 1px solid #eee;
}
.image-refine img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}
.category-list div:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	background: #fff;
	top: -90px;
	right: 10px; /*position where enlarged image should offset horizontally */
}
.category-list div a {
	color: #000;
	padding-right: 10px;
	line-height: 18px;
	background: url(../../image/arrow-black-right.png) right 5px no-repeat;
	text-decoration: none;
}
.category-list div a:hover {
	color: #787878;
}




/* manufacturer 
------------------------------------------------*/
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: right;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}




/* product 
-------------------------------------------------*/
.product-filter {
	background: #7dc50d;
	color: #fff;
	border-bottom: 3px solid #6BA60E;
	margin: 20px 10px 20px 10px;
	clear: both;
	overflow: hidden;
}
.product-filter .display {
	margin-left: 15px;
	float: left;
	padding-top: 5px;
	color: #333;
}
.display_list a {
	float: right;
	font-size: 0pt;
	width: 25px;
	height: 25px;
	background: url(../../image/display.png) no-repeat top right;
	display: block;
}
.display b {
	color: #fff;
	float: right;
	display: block;
	margin-left: 10px;
	margin-top: 5px;
}
.display_list {
	margin: 0 2px;
	float: right;
	font-size: 0pt;
	width: 25px;
	height: 25px;
	background: url(../../image/display.png) no-repeat bottom left;
}

.display_grid a {
	float: left;
	font-size: 0pt;
	width: 25px;
	height: 25px;
	background: url(../../image/display.png) no-repeat bottom right;
	display: block;
}

.display_grid {
	float: left;
	font-size: 0pt;
	width: 25px;
	height: 25px;
	background: url(../../image/display.png) no-repeat top right;
}
.product-filter .sort {
	float: right;
	color: #fff;
	margin-left: 15px;
	margin-top: 5px;
}
.product-filter .limit {
	margin: 5px 15px;
	float: right;
	color: #fff;
}
.product-filter .sort select, .product-filter .limit select {
	background: #fff;
	border: none;
	padding: 3px;
	margin-right: 5px;
}
.product-compare {
	margin-top: 10px;
	font-weight: bold;
	float: right;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}


/*********** product grid *************/
.product-list {
	float: right;
	width: 100%;
}
.product-list > div {
	margin: 0 10px 20px 10px;
	clear: both;
	position: relative;
}
.product-list > div .sale {
	right: 10px;
}
.product-list .right {
	float: left;
	border-right: 1px dashed #eee;
	margin-right: 15px;
	padding-right: 10px;
	min-height: 140px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: right;
	margin-left: 30px;
}
.product-list .image img {
	padding: 3px;
}
.product-list .name {
	margin-bottom: 15px;
	padding-top: 10px;
}
.product-list .name a {
	color: #000;
	font-size: 14px;
	text-decoration: none;
}
.product-list .name a:hover {
	text-decoration: underline
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
	margin-bottom: 15px;
}
.product-list .price {
	margin-bottom: 15px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}
.product-list .price-old {
	color: #F00;
	display: block;
	float: right;
	width: 100%;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
	font-size: 18px;
	display: block;
	float: right;
	width: 100%;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
	float: right; 
	margin-left: 2px;
}
.product-list .wishlist, .product-list .comparee {
	margin-bottom: 3px;
	float: right;
}


/*********** product grid *************/
.product-grid {
	float: right;
	text-align: center;
}
.product-grid > div {
	position: relative;
	display: inline-block;
	margin: 0 10px 20px 10px;
	width: 179px !important;
	vertical-align: top;
	padding: 10px;
	position: relative;
	vertical-align: top;
	text-align: right;

}
.product-grid > div + div {
	border-right: 1px dashed #E5E5E5;;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.product-grid .image img {
	padding: 3px;
}
.product-grid .name {
	margin-bottom: 5px;
}
.product-grid .name a {
	color: #787878;
	font-size: 12px;
	text-decoration: none;
}
.product-grid .name a:hover {
	text-decoration: underline
}	
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 10px;
}
.product-grid .price {
	 color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
	float: right;
	margin-left: 2px;
}
.product-grid .wishlist, .product-grid .comparee {
	margin-bottom: 3px;
	float: right;
}

/* Product Details
----------------------------------------------------------*/
.product-info {
	overflow: hidden;
	margin-bottom: 20px;
}
.product-info > .left {
	float: right;
	width: 300px;
	margin-left: 15px;
}
.product-title {
	color: #000;
}
.product-info > .left + .right {
	margin-right: 340px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: right;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	width: 300px;
}
.product-info > .left img {
	width: 100%;
}
.product-info .image-additional {
	width: 320px;
	margin-right: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
	padding: 2px;
    width: 48px;
}
.product-info .image-additional a {
	float: right;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #000;
	font-weight: bold;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.price-text {
	font-size: 25px;
	float: right;
	margin-left: 20px;
}
.price-data {
	float: right;
	margin-top: 5px;
}
.product-info .price {
	overflow: hidden;
	border: 1px dashed #ccc;
	padding: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	background: #eee;
}
.product-info .price-old {
	color: #F00;
	font-size: 15px;
	text-decoration: line-through;
}
.product-info .price-new {
	float: right;
	margin-left: 15px;
	font-size: 20px;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.cart-product {
	padding: 10px 30px !important;
	font-size: 18px !important;
	font-weight: bold;
	line-height: 22px !important;
}
.option-title {
	font-size: 25px;
}
.product-info .options {
	border: 1px dashed #ccc;
	background: #eee;
	margin-bottom: 10px;
	color: #000000;
	padding: 3%;
    width: 93.8%;
	float: right;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-left: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	padding: 5px 0;
	margin-bottom: 20px;
	color: #4D4D4D;
	float: right;
	width: 100%;
}
.product-info .cart div {
	float: right;
	vertical-align: middle;
}
.wish-compare {
	margin: 10px 10px 0 0;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 15px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.cart .quantity {
	background: #fff !important;
	border: 1px solid #eee !important;
	color: #000 !important;
}


/***** related products ****/
.related-product {
	float: right;
	width: 100%;
}
.realted-title {
	background: none repeat scroll 0 0 #7DC50D;
    border-bottom: 3px solid #6BA60E;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    padding: 8px 10px 7px 10px;
    position: relative;
}
.related {
    display: inline-block;
    float: right;
    margin-top: 20px;
	margin-bottom: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 310px;
    padding: 15px;
    width: 180px;
}
.related + .related {
	border-right: 1px dashed #CCCCCC;
}
.related .image, .related .image img {
	width: 100%;
	text-align: center
}
.product-info .review {
	color: #4D4D4D;
	border: 1px dashed #ccc;
	background: #eee;
	margin-bottom: 10px;
	width: 99.7%;
	float: right;
}
.product-info .review a {
	text-decoration: none;
}
.product-info .review a:hover {
	color: #000
}
.product-info .review > div {
	padding: 8px;
	line-height: 20px;
}
.product-info .review > div + div {
	border-top: 1px dashed #ccc;
}
.review-text {
	text-align: left
}
.review-img {
	float: right;
	margin-top: 4px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	background: #f6f6f6;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: right;
	margin-bottom: 20px;
}
.review-list .rating {
	float: left;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: right;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: left;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: right;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: left;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: right;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: left;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: right;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: left;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: right;
	width: 48%;
}
.login-content .right {
	float: left;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: right;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: left;
	text-align: left;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: right;
	width: 33.3%;
}
.order-list .order-info {
	text-align: left;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: right;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: left;
	text-align: left;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: right;
	width: 33.3%;
}
.return-list .return-info {
	text-align: left;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: right;
	width: 31%;
	margin-left: 15px;
}
.return-model {
	float: right;
	width: 31%;
	margin-left: 15px;
}
.return-quantity {
	float: right;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: right;
	width: 31%;
	margin-left: 15px;
}
.return-opened {
	float: right;
	width: 31%;
	margin-left: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: right;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: right;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: left;
	text-align: left;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: right;
	width: 33.3%;
}
.download-list .download-info {
	text-align: left;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: right;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: left;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: right;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: left;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: left;
}
.cart-total td {
	padding: 3px;
	text-align: left;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: left;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: right;
	width: 48%;
}
.checkout-content .right {
	float: left;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: right;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: left;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: right;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: left;
}
.checkout-product tfoot td {
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
	line-height: 18px;
	background: #eee;
	margin-bottom: 20px;
}
.contact-info .left {
	float: right;
	width: 48%;
}
.contact-info .right {
	float: right;
	width: 48%;
}
.sitemap-info {
	margin-bottom: 40px;
	line-height: 18px;
}
.sitemap-info .left {
	float: right;
	width: 43%;
	margin-right: 2%;
}
.sitemap-info .right {
	float: right;
	width: 43%;
	margin-right: 2%;
}
.sitemap-info .left ul li, .sitemap-info .right ul li {
	padding-right: 15px;
	list-style: circle !important
}
.sitemap-info .left ul li, .sitemap-info .right ul li,
.sitemap-info .left ul li a, .sitemap-info .right ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.sitemap-info .left ul li li, .sitemap-info .right ul li li,
.sitemap-info .left ul li li a, .sitemap-info .right ul li li a {
	font-size: 12px;
	font-weight: normal;
}
.sitemap-info .left ul li a:hover, .sitemap-info .right ul li a:hover {
	text-decoration: underline
}
/* footer */ 
.footer-bg {
	background: #eee;
	clear: both;
	padding-top: 30px;
}
footer {
	clear: both;
	overflow: hidden;
	min-height: 100px;
	padding: 20px 0;
	background: #fdfdfd;
}
footer h3 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
footer .column {
	min-height: 100px;
	margin-bottom: 20px;
}
footer .column ul {
	margin-top: 0px;
}
footer .column ul li {
	margin-bottom: 3px;
}
footer .column a {
	text-decoration: none;
	color: #000;
}
footer .column a:hover {
	text-decoration: underline;
}
footer .socials, footer .payment {
	margin-top: 20px;
}
.payment li {
	float: right;
	display: inline;
	margin-left: 3x;
}
#powered {
	margin-top: 5px;
	text-align: left;
	clear: both;
}
hr {
	border-top: 1px solid #d8dfea;
	border-bottom: 1px solid #fff;
	width: 100%;
}
.socials {
	float: left;
	margin-bottom: 10px;
}
.socials li {
	display: inline;
	float: left;
	margin: 0 2px 2px 0;
}
.socials li:hover {
	opacity: .6;
}
.third-line {
	line-height: 18px;
}
/**** contact ****/
.marB30 {
	margin-bottom: 20px;
	overflow: hidden;
}
.contactImg {
	width: 100%;
	float: right;
	margin: 0 0 20px 0;
}
.rightCont {
	float: right;
}
.icon {
	float: right;
	margin: 0 0 10px 15px;
}
h3.widgetsTitle {
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
	padding: 5px 10px;
	background: #eee;
	border-bottom: 3px solid #ccc;
}

/**** twitter *****/
.tweet,
.query {
	font: 12px;
	float: right;
	width: 100%;
	margin-top: 10px;
}
.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tweet_list li {
	list-style-type: none;
	margin-bottom: 15px;
	position: relative;
	padding-right: 40px;
	min-height: 40px;
}
.tweet_list li a {
	color: #7dc50d;
    text-decoration: none;
}
.tweet_list .tweet_even {
}
.tweet_list .tweet_avatar {
	position: absolute;
	right: 0;
	top: 0;
}
.tweet_list .tweet_avatar img {
	vertical-align: top;
}



/****** facebook ******/
.facebookOuter {
	background-color:#eee; 
	width:280px; 
	height:250px;
	border:1px solid #eee;
	margin-bottom: 20px;
	clear:both
}
.facebookInner {
	height:235px;
	overflow:hidden;
	color: #eee !important
}


/****** about ******/
.about {
	padding-top: 10px;
}
.about h3 {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: solid 1px #d8dfea;
	margin-bottom: 10px;
	color: #000;
}
.shipping {
	background: #dddddd;
	padding: 10px;
	position: relative;
	overflow: hidden
}
.shipping img {
	float: left;
	margin: 20px;
}
.second-line {
	font-size: 15px;
	font-weight: bold;
}

/* banner 
-----------------------------------------------*/
.banner {
	display: inline;
	float: right;
	margin: 0 10px 0 10px;
	vertical-align: top;
}
.banner > div img {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 20px;
}

/* account
-----------------------------------------------*/
.account ul {
	margin-right: 5px;
}
.account ul li {
	padding-right: 20px;
	background: url(../../image/arrow-black-right.png) right 5px no-repeat;
}

/* Blog / News Module
-----------------------------------------------*/
.headlineTitle, .headlineTitle a {
	font-size: 18px;
	border-bottom: 3px solid #eee;
}
.bg {
	font-size: 12px !important;
	background: #666;
	font-weight: bold;
	color: #fff !important;
	display: inline-block !important;
	padding: 2px 4px;
	margin-top: 10px !important
}
ul.articleCats {
	margin-bottom: 20px;
}
ul.articleCats li {
	margin-bottom: 5px;
}
ul.articleCats li a {
	font-size: 14px;
	margin-bottom: 5px;
	display: block;
}
ul.articleCats li ul li {
	border-right: 1px solid #ccc;
	padding: 2px 5px;
	margin-right: 15px;
	margin-bottom: 0;
}
ul.articleCats li ul li a {
	font-size: 12px;
	padding-bottom: 0;
}

/*search in articles*/
#artsearch {
	background: #eee;
	padding: 10px;
}
.searchA {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 8px;
}
#artsearch input {
	height: 25px;
	width: 180px;
}
.buttonA {
	background: #666;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 14px;
}
.buttonA:hover {
	background: #000;
	text-decoration: none;
}
.postSide {
	width: 100%;
	float: right;
	margin-bottom: 15px;
}
.newSideImg {
	float: right;
	width: 80px;
	padding: 2px;
	border: 1px solid #eee;
	margin: 0 0 0 10px;
}
.newSideImg img {
	max-width: 100%;
}
.newsTitle {
	font-size: 16px;
}
.mar {
	margin-right: 10px;
	margin-left: 10px;
}
.nobord {
	border: none !important
}
.content, .buttons {
	margin-left: 10px;
	margin-right: 10px;
}


/* FOR RTL */
p, table, li, a, b {
	direction: rtl
}
.flex-control-paging li a, .flex-direction-nav a {
	font-size: 0;
}
