/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#toTop {
  background: url("../image/scroll-to-top-icon.png") no-repeat scroll 100% 100% / 30px 30px rgba(0, 0, 0, 0);
  border: medium none;
  bottom: 150px;
  color: black; 
  font-size: 0;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  right: 25px;
  text-decoration: none;
  width: 30px;
}
#toTop:hover {
    display:block;
    overflow:hidden;
    float:left;
}
#toTop:active, #toTop:focus {
    outline:none;
}