/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 720px;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 40px;
}

.container_12 .grid_2 {
  width: 99px;
}

.container_12 .grid_3 {
  width: 160px;
}

.container_12 .grid_4 {
  width: 220px;
}

.container_12 .grid_5 {
  width: 280px;
}

.container_12 .grid_6 {
  width: 340px;
}

.container_12 .grid_7 {
  width: 400px;
}

.container_12 .grid_8 {
  width: 460px;
}

.container_12 .grid_9 {
  width: 520px;
}

.container_12 .grid_10 {
  width: 580px;
}

.container_12 .grid_11 {
  width: 640px;
}

.container_12 .grid_12 {
  width: 700px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 60px;
}

.container_12 .prefix_2 {
  padding-left: 120px;
}

.container_12 .prefix_3 {
  padding-left: 180px;
}

.container_12 .prefix_4 {
  padding-left: 240px;
}

.container_12 .prefix_5 {
  padding-left: 300px;
}

.container_12 .prefix_6 {
  padding-left: 360px;
}

.container_12 .prefix_7 {
  padding-left: 420px;
}

.container_12 .prefix_8 {
  padding-left: 480px;
}

.container_12 .prefix_9 {
  padding-left: 540px;
}

.container_12 .prefix_10 {
  padding-left: 600px;
}

.container_12 .prefix_11 {
  padding-left: 660px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 60px;
}

.container_12 .suffix_2 {
  padding-right: 120px;
}

.container_12 .suffix_3 {
  padding-right: 180px;
}

.container_12 .suffix_4 {
  padding-right: 240px;
}

.container_12 .suffix_5 {
  padding-right: 300px;
}

.container_12 .suffix_6 {
  padding-right: 360px;
}

.container_12 .suffix_7 {
  padding-right: 420px;
}

.container_12 .suffix_8 {
  padding-right: 480px;
}

.container_12 .suffix_9 {
  padding-right: 540px;
}

.container_12 .suffix_10 {
  padding-right: 600px;
}

.container_12 .suffix_11 {
  padding-right: 660px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 60px;
}

.container_12 .push_2 {
  left: 120px;
}

.container_12 .push_3 {
  left: 180px;
}

.container_12 .push_4 {
  left: 240px;
}

.container_12 .push_5 {
  left: 300px;
}

.container_12 .push_6 {
  left: 360px;
}

.container_12 .push_7 {
  left: 420px;
}

.container_12 .push_8 {
  left: 480px;
}

.container_12 .push_9 {
  left: 540px;
}

.container_12 .push_10 {
  left: 600px;
}

.container_12 .push_11 {
  left: 660px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -60px;
}

.container_12 .pull_2 {
  left: -120px;
}

.container_12 .pull_3 {
  left: -180px;
}

.container_12 .pull_4 {
  left: -240px;
}

.container_12 .pull_5 {
  left: -300px;
}

.container_12 .pull_6 {
  left: -360px;
}

.container_12 .pull_7 {
  left: -420px;
}

.container_12 .pull_8 {
  left: -480px;
}

.container_12 .pull_9 {
  left: -540px;
}

.container_12 .pull_10 {
  left: -600px;
}

.container_12 .pull_11 {
  left: -660px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}

/* Custom
-----------------------------------------------------------------------------------*/
#column-left + #column-right + #content {margin-right: 190px; margin-left: 190px;}
#column-left + #content {margin-right: 190px;}
#column-right + #content {margin-left: 190px;}




/* ======================================================
=========================================================

               CUSTOM STYLE TO MATCH WITH THIS RESOLUTION

=========================================================
=========================================================*/
header #logo {
	width: 100%;
	text-align: center;
}
header #logo img{
	max-width: 50%;
	margin: 20px auto 20px auto;
}
header #cart {
	float: left;
	margin-top: -70px;
	margin-left: 50px;
}
header #cart .heading {
	float: none;
	padding-top: 50px;
	padding-right: 0;
	height: 50px;
	line-height: 16px;
	background: url(../../../image/cart-top.png) 25px top no-repeat;
	position: relative;
	z-index: 1;
	text-align: center;
	margin-top: -10px;
}
header .grid_3, header .grid_7, header .grid_2 {
	width: 100% !important;
}
.top-blocks li {
	text-align: center;
	margin: 0 0 10px 5px;
	width: 18%;
}
.top-blocks li img {
	float: none;
	margin-left: 0;
	margin-bottom: 7px;
}
.top-menu {
	width: 700px !important;
	text-align: center
}
li.cats:hover .cat-wrap {
	width: 100%
}
.one-dept {
	width: 28%
}
.top-menu ul li {
	float: none;
	display: inline-block
}
li.cats:hover .cat-wrap {
	text-align: right
}
.top-menu {
	margin-bottom: 15px;
}
.search {
	width: 700px !important;
	margin-bottom: 15px;
}
#search {
	width: auto;
	float: none;
}
ul.mega-category li a {
	padding: 0 8px;
	background: url(../../../image/arrow-right.png) 5% center no-repeat;
}
.sub-sub-menu ul li a {
	background: url(../../../image/arrow-menu.png) no-repeat right 5px;
}
.flexslider {
	width: 100% !important;
}
.flex-direction-nav .flex-next {
	left: 5px !important
}
.flex-direction-nav .flex-prev {
	right:5px !important
}
.home .banner {
	width: 160px;
}
ul.mega-category li:hover .sub-menu {
	width: 500px;
}
.latest .main:hover .hover-options {
	width: 100%;
}
.latest .main .hover-options input {
	margin-bottom: 5px;
}
.fb-like-box {
	width: 160px !important;
}
.facebookOuter {
	width: 160px;
}
#column-left .box-product .image, #column-right .box-product .image, #column-left .box-product img, #column-right .box-product img {
	float: none;
	width: 86px;
	margin-bottom: 0;
}
#column-left .box-product .rating img, #column-right .box-product .rating img  {
	width: auto;
}
#column-left .name, #column-right .name {
	padding-top: 0
}
.right-part-2 {
	width: 54%;
}
.category-list div {
	width: 30%
}
.product-filter .display {
	margin-right: 15px;
	margin-bottom: 5px;
	float: right;
	clear: both;
}
.cloud-zoom-big {
	width: 320px !important;
	right: -10px !important;
}
.product-info .review {
	width: 98%;
}
.product-grid {
	text-align: center
}
.product-grid > div {
	float: none;
}
.latest .main {
	width: 125px !important;
}
.latest .main, .main2 {
	width: 110px !important;
}
.main .cart, .main2 .cart {
	margin-bottom: 3px;
}
.cat-title {
	padding-bottom: 40px;
	text-align: center
}
#artsearch input { 
	width: 132px; margin-bottom: 10px;
}
#artsearch {
	overflow: hidden
}
.buttonA {
	float: right
}
.newSideImg {
	float: none;
	margin-bottom: 10px;
}
.product-grid .image {
	text-align: center;
	width: 100%;	
}
.product-grid > div {
	width: 90px !important;	
}
.product-grid .image img {
	max-width: 100%;
}

#column-left .list_carousel li, #column-right .list_carousel li {
	width: 120px !important;
	padding: 0 5px !important;
}
.featured .box-heading {
	overflow: hidden
}
#column-right a.prev, #column-right a.next, #column-left a.prev, #column-left a.next {
	margin-top: 5px;
}
.flex-control-nav {
	top: 90% !important;
}