.container_12 {
	width: 94%;
	margin: 0 auto;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

/*custom*/.flexslider{clear:both}



/* ======================================================
=========================================================

               CUSTOM STYLE TO MATCH WITH THIS RESOLUTION

=========================================================
=========================================================*/
header #welcome {
	text-align: center;
	clear: both;
}
.timer {
	text-align: center;
	clear: both;
	float: none;
}
.strip {
	text-align: center;
	min-height: 120px;
	line-height: 18px;
	margin-bottom: 20px;
}
.strip .links {
	width: 100%;
	text-align: center;
	margin: 10px 0 10px 0 !important
}
.strip .links a {
	float: none;
	display: inline-block 
}
#language, #currency {
	float: none;
}
header #logo {
	float: none;
	text-align: center;
	margin-bottom: 20px;
}
.top-blocks {
	text-align: center
}
.top-blocks li {
	text-align: center;
	margin: 0 0 10px 5px;
	width: 31%;
	display: inline-block;
}
.top-blocks li img {
	float: none;
	margin-left: 0;
	margin-bottom: 7px;
}
header #cart {
	float: right;
	width: 60%;
}
header #cart .content {
	left: -16%;
}


.menuDevices {
	display: block !important
}
.top-menu {
	display: none;
}
.menuDevices select {
	padding: 2%;
	width: 100%;
	background: #000;
	color: #fff;
	border: none;
	margin-bottom: 15px;
}


.search {
	margin-bottom: 15px;
}
#search {
	width: auto;
	float: none;
}
.category {
	display: none;
}
#column-left, #column-right {
	float: none;
}
.flex-control-nav {
	display: none;
}
.banner div {
	text-align: center
}
.cat-group .latest {
	text-align: center
}
.cat-group .latest .main {
	width: 160px;
	float: none;
}
.cat-group h2 {
	text-align: center;
	padding-bottom: 30px;
}
.tabs-head {
	position: absolute;
	right: 0;
	top: 25px;
}
.pager {
	top: 50px;
}
.category-info .image {
	float: none;
	margin: 0 auto;	
	margin-bottom: 20px;
}
.right-part-2 {
	width: 100%;
}
.product-filter .display {
	margin-right: 15px;
	margin-bottom: 5px;
	float: right;
	clear: both;
}
.product-filter .sort, .product-compare {
	margin-right: 15px;
}
.product-list .right {
	width: 100%;
	height: auto;
	border-right: none;
	text-align: center 
}
.product-list .cart {
	margin-right: 36%;
}
.product-list > div .sale {
	top: 50%
}
.product-grid {
	text-align: center
}
.product-grid > div {
	float: none;
	text-align: right
}
.product-info > .left, .product-info > .right {
	width: 100%;
}
.product-info > .left + .right {
	margin-right: 0
}
.product-info .review {
	width: 96%;
}
.product-info .image {
	float: none;
	margin: 10px auto;
	width: 230px;
}
.cloud-zoom-big {
	width: 270px !important;
	height: 270px !important;
	right: -10px !important;
}
.product-info .image-additional {
	width: 100%;
	margin-right: 0;
	text-align: center
}
.product-info .image-additional img {
	display: inline-block
}
.product-info .image-additional a {
	float: none;
	display: inline-block;
	margin-right: 0;
}
.product-info .description{
	text-align: center
}
.htabs a {
	width: 99.6%;
	padding: 7px 0px 6px 0px;
}
.shipping {
	margin-bottom: 20px;
}
.tweet, .query {
	margin-bottom: 20px;
}
.product-info .options textarea {
	width: 97%;
}
.product-info .options {
	width: 93%;
}

#artsearch input { 
	 margin-bottom: 10px;
}
#artsearch {
	overflow: hidden
}
.buttonA {
	float: right
}
.style-one-shadow {
	display: none;
}
.cat-title {
	padding-bottom: 40px;
	text-align: center
}
.mod a {
	width: auto;
	padding: 3px !important;
	float: right;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
	width: 80px !important;
}
.latest .main, .main2 {
	width: 80px !important;
}
.jcarousel-item + .jcarousel-item, .main2 + .main2, .product-grid > div + div {
	border: none !important; 
}
.main2 .hover-options {
	display: none;
}
.sale {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.latest .main, .main2 {
	padding: 5px !important
}
header #cart .content {
	width: 240px;
	min-width: inherit;
}
.checkout-content .left, .checkout-content .right {
	width: 100%;
}
input.large-field, select.large-field {
	width: 200px;
}
.wrap {
	width: 100%;
}
@media all and (min-width: 150px) and (max-width: 400px) {
.dropdown {
	display: none;
}
.product-list .cart {
	margin-right: 28%;
}
header #cart { 
	width: 70%
}
header #cart .content {
	left: -35%;
}

}













