/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}
.top-menu-wrapper {
  margin: auto;
  max-width: 960px;
}

#fade {
   
    top: 316px; /* makes the div span all the way across the viewing area */
   
}

.festival {
	display:none;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_3 {
  padding-left: 240px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_6 {
  padding-left: 480px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_9 {
  padding-left: 720px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_3 {
  padding-right: 240px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_6 {
  padding-right: 480px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_9 {
  padding-right: 720px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_3 {
  left: 240px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_6 {
  left: 480px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_9 {
  left: 720px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_3 {
  left: -240px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_6 {
  left: -480px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_9 {
  left: -720px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}
/* Custom
-----------------------------------------------------------------------------------*/
#column-left + #column-right + #content  { margin-right: 250px; margin-left: 250px; }
#column-left + #content {margin-left: 250px;}
#column-right + #content {margin-right: 250px;}



/* ======================================================
=========================================================

               CUSTOM STYLE TO MATCH WITH THIS RESOLUTION

=========================================================
=========================================================*/
header #logo img{
	width: 100%;
}
.top-blocks {
	text-align: center
}
.top-blocks li {
	margin: 0 5px 10px 0;
	overflow: hidden;
	width: 23%;
	text-align: center;
}
.top-blocks li img {
	float: none;
	margin-bottom: 10px;
}

header #cart {
	padding: 10px 20px 0 20px;
}

header #cart .heading {
	float: none;
	padding-top: 50px;
	padding-left: 0;
	height: 50px;
	line-height: 16px;
	background: url(../../image/cart-top.png) 25px top no-repeat;
	position: relative;
	z-index: 1;
	text-align: center;
	margin-top: -10px;
}
#search input {
	width: 70%;
}
ul.mega-category li:hover .sub-menu {
	width: 650px;
}
.sub-sub-menu ul {
	width: 65%;
}
#artsearch input {
	width: 130px;
}
.buttonA {
	padding: 8px 9px;
}
#livesearch_search_results {
	width: 208px;
}
.latest .main, .main2 {
	width: 154px !important;
	margin: 0 0 20px 0;
	padding: 10px;
}
.latest .main .sale, .main2 .sale {
	right: 20px !important
}
.top-menu ul li {
	margin-right: 5px;
	padding: 0 10px;
}
.one-dept {
	width: 29%;
}
ul.mega-category li a {
	background: url(../../image/arrow-right.png) 93% center no-repeat;
}
.sub-sub-menu ul li a {
	background: url(../../image/arrow-menu.png) no-repeat left 5px;
}
.flexslider {
	width: 100% !important;
}
.flex-direction-nav .flex-next {
	right: 5px !important
}
.flex-direction-nav .flex-prev {
	left:5px !important
}
.home .banner {
	display: inline-block;
	width: 220px;
}
#column-left .banner, #column-right .banner {
	width: 100%;
}
input.button {
	padding: 3px 5px;
}
a.button, input.button {
	font-size: 11px;
}
.fb-like-box {
	width: 220px !important;
}
.facebookOuter {
	width: 220px;
}
.right-part-2 {
	width: 66%;
}
.product-info .review {
	width: 99.4%
}
.cloud-zoom-big {
	width: 350px !important;
}
.latest .main {
	width: 157px !important; 
}
.product-grid {
	width: 102%;
}
.product-grid > div {
	width: 150px !important;
	margin: 0 0px 20px 0px;
	padding: 10px;
	text-align: left;
}
.product-grid .image {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.product-grid .image img {
	max-width: 100%;
}

#column-left .list_carousel li, #column-right .list_carousel li {
	width: 190px !important;
	padding: 0 5px !important;
}
.newsTitle {
font-size: 13px;
font-weight: bold;
}

.item_list_icon {
    width:220px;
    height: 151px;
    background-size: 220px 151px;
    float: left;
    margin-left: 11px;
}

.ds_search > form textarea {
height: 69px;
width: 152px;
}

.ds_search > form .ds_note {
display:none;
}

.ds_search > form > h3 {
font-size: 10px;
}

.ds_search > form .ds_btn {
float: none;
margin-left: 0px;
}

.setwidthin960
{
	width:auto !important;
}

.bx-wrapper .bx-prev {
  right: 65px !important;
}
.bx-wrapper .bx-next {
  right: 30px !important;
}










