<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } 
if ($shipping_methods) { 

$user_group = $this->db->query("select cg.name from ".DB_PREFIX."customer c inner join ".DB_PREFIX."customer_group_description cg on cg.customer_group_id = c.customer_group_id where c.customer_id='".$this->session->data['customer_id']."'")->row['name'];
//if ($user_group != 'Wholesaler'

?>
<p><?php echo $text_shipping_method; ?></p>
<table class="radio">
    <?php foreach ($shipping_methods as $shipping_method) { ?>
    <tr>
        <td colspan="3"><b><?php echo $shipping_method['title']; ?></b></td>
    </tr>
    <?php if (!$shipping_method['error']) { ?>
    <?php foreach ($shipping_method['quote'] as $quote) { ?>
    <tr class="highlight">
        <td><?php if ($quote['code'] == $code || !$code) { ?>
            <?php $code = $quote['code']; ?>
            <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>"
                   id="<?php echo $quote['code']; ?>" checked="checked"/>
            <?php } else { ?>
            <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>"
                   id="<?php echo $quote['code']; ?>"/>
            <?php } ?></td>
        <td><label for="<?php echo $quote['code']; ?>"><?php echo $quote['title']; ?></label></td>
        <!-- JIPL -->
        <td style="text-align: right;"><label for="<?php echo $quote['code']; ?>"><?php
    			//if($_SESSION['subtotal']<500 && $quote['code']=='cash.cash') { echo 'Rs. 30'; } else { echo $quote['text']; }?></label>
        </td>
        <!-- JIPL -->
        <td style="text-align: right;">
            <label for="<?php echo $quote['code']; ?>">
                <?php echo $quote['text']; ?>
            </label>
        </td>
    </tr>
    <?php } ?>
    <?php } else { ?>
    <tr>
        <td colspan="3">
            <div class="error"><?php echo $shipping_method['error']; ?></div>
        </td>
    </tr>
    <?php } ?>
    <?php } ?>
</table>
<br/>
<?php } ?>
<!--<b><?php echo $text_comments; ?></b>
<textarea name="comment" rows="8" style="width: 98%;"><?php echo $comment; ?></textarea>

<br /><br />-->
<p style="color: red; font-weight: bold">Please choose Delivery Date and Time!!</p>
Pick a date &nbsp;&nbsp;&nbsp;
<input type="text" id="datepicker" class="datepicker" name="datepicker" required readonly="readonly"/>

<br/><br/>

<?php 
$a = explode(':',$this->config->get('config_time_diff'));
$b =  date('H', time());
$h = $b + $a[0] + 1;
?>

<div id="home_delivery">
    <?php
if ($user_group != 'Wholesaler'){
    $disble=array(); //array of disabled timeslot
    $flag=0; //stop if match found 
    
    $query = $this->db->query("select value from setting where `key`='config_hd_timeslot'");
    $result = $query->row;

    $timeslots = explode(',',$result['value']);

    $query = $this->db->query("select value from setting where `key`='config_hd_timeslot'");
    $result1 = $query->row;

    $timeslots1 = explode(',', $result1['value']);

    for($i=0;$i
    <sizeof
            ($timeslots1);$i++) {
            $timeslot1=explode('-',$timeslots1[$i]);

    //covert 8pm to 8+12=20 in 8pm-10pm time slot
    $min = str_replace('pm','',str_replace('am','',str_replace(' ','',$timeslot1[0])));
    if (strpos($timeslot1[0], 'pm') !== false) {
    $min = $min + 12;
    }

    //covert 10pm to 10+12=22 in 8pm-10pm time slot
    $max=str_replace('pm','',str_replace('am','',str_replace(' ','',$timeslot1[1])));
    if (strpos($timeslot1[1], 'pm') !== false) {
    $max = $max + 12;
    }

    //check if result not found yet
    if($flag!=1) {

    //check if current hour in given timeslot
    if($h>=$min && $h<=$max){
    $flag=1;
    }else{
    $disble[]=$i;
    }
    }//end if
    }//end foreach
    ?>
    Time Slot&nbsp;&nbsp;&nbsp;
    <select name="timeslot1" id="delivery_timeslot" required readonly="readonly">
        <option value="">Select Slot</option>
        <?php for($i=0;$i<sizeof($timeslots);$i++) { ?>
        <option value="<?php echo $timeslots[$i];?>"
        <?php if(in_array($i, $disble)) { ?>disabled="disabled" <?php } ?>><?php echo $timeslots[$i];?></option>
        <?php } ?>
    </select>
    <?php }//if not wholeseller ?>
</div>
<!-- END #home_delivery -->

<div id="pickup_store" style="display:none">
    <?php
if ($user_group != 'Wholesaler'){
    $h = date('H'); 

    $query = $this->db->query("select value from setting where `key`='config_ps_timeslot'");
    $result = $query->row;
    $timeslots=explode(',',$result['value']);

    $query = $this->db->query("select value from setting where `key`='config_ps_timeslot'");
    $result1 = $query->row;

    $timeslots1=explode(',',$result1['value']);
    $disble2=array(); $flag=0;
    for($i=0;$i
    <sizeof
            ($timeslots1);$i++) {
            $timeslot1=explode('-',$timeslots1[$i]);
            $min=str_replace('pm','',str_replace('am','',str_replace('
    ','',$timeslot1[0])));
    if (strpos($timeslot1[0], 'pm') !== false) {
    $min = $min + 12;
    }
    $max=str_replace('pm','',str_replace('am','',str_replace(' ','',$timeslot1[1])));
    if (strpos($timeslot1[1], 'pm') !== false) {
    $max = $max + 12;
    }

    if($flag!=1) {
    //check if current hour in given timeslot
    if($h<=$max){ //$h>=$min &&
    $flag=1;
    }else{
    $disble2[]=$i;
    }
    }//end if
    }//end of foreach

    ?>
    Time Slot&nbsp;&nbsp;&nbsp;
    <select name="timeslot2" id="pickup_timeslot">
        <option value="">Select Slot</option>
        <?php for($i=0;$i<sizeof($timeslots);$i++) { ?>
        <option value="<?php echo $timeslots[$i];?>"
        <?php if(in_array($i, $disble2)) { ?>disabled="disabled" <?php } ?>><?php echo $timeslots[$i];?></option>
        <?php } ?>
    </select>
    <?php }//if not wholeseller ?>
</div>
<br/>
<br/>
<div class="buttons">
    <div class="right">
        <input type="button" value="<?php echo $button_continue; ?>" id="button-shipping-method" class="button"/>
    </div>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function () {
        <?php if ($user_group != 'Wholesaler'){ ?>
        
    var disabled =  [<?= implode(',',$disble) ?>];
        var disabled2 =  [<?= implode(',',$disble2) ?>];

        var hour = new Date().getHours();

        //set datepicker and callback to disable appropriate timeslot
        $(".datepicker" ).datepicker({
        onSelect: function(date) {
                    $('#delivery_timeslot option').removeAttr('disabled');
                    $('#pickup_timeslot option').removeAttr('disabled');                    
                    
                    if(date == '<?= date("d/m/Y") ?>'){                        
                        for($i=0; $i < disabled2.length; $i++){
                            $j = $i+2;
                            $('#pickup_timeslot option:nth-child('+$j+')').attr('disabled','disabled');
                        }
                        
                        for($i=0; $i < disabled.length; $i++){
                            $j = $i+2;
                            $('#delivery_timeslot option:nth-child('+$j+')').attr('disabled','disabled');
                        }
                    }
                },
        dateFormat: 'dd/mm/yy', 
        minDate: hour >= 15 ? 1 : 0
    });    
    
    <?php }else{ ?>
    
    var date = new Date();
    
    date.setDate(date.getDate() + <?= (int)$this->config->get('config_day_diff') ?>); 
    
    $(".datepicker" ).datepicker({
        dateFormat: 'dd/mm/yy', 
        minDate: new Date(date.getFullYear(), (date.getMonth()+1), date.getDate())
    });    

    <?php } ?>
});
    $("input[name=shipping_method]:radio").click(function () {
        var val = $('input[name="shipping_method"]:checked').val();
        if (val == 'pickup.pickup') {
            document.getElementById('home_delivery').style.display = "none";
            document.getElementById('pickup_store').style.display = "block";
        } else {
            document.getElementById('pickup_store').style.display = "none";
            document.getElementById('home_delivery').style.display = "block";
        }
    });

    $(document).ready(function () {
        $('#button-shipping-method').click(function () {
            var datepicker = $('#datepicker').val();
			var pickupTime = $('select#delivery_timeslot option:selected').val();
			//alert(pickupTime);
            if (datepicker == "") {
                alert("Please choose Pick a date!!");
                return false;
            }else if(pickupTime == '') {
				alert("Please choose Time Slot!!");
                return false;
			}
        });
    });
</script>