<script>
function showhideSearch(v) {
	if(v==1) { 
		document.getElementById('item_list_icon').style.display="none";
		document.getElementById('home_search').style.display="block";
	} else { 
		document.getElementById('item_list_icon').style.display="block";
		document.getElementById('home_search').style.display="none";
	}
}
</script>
<?php $k=0;
foreach ($modules as $module) { $k++; ?>
<?php echo $module; ?>
<?php if($k==2) { ?>
   <!--<div id="addSearch">
      <div class="item_list_icon" id="item_list_icon" onclick="showhideSearch('1')"></div>
      <div id="home_search" class="ds_search">

              <input type="text" name="filter_name" value="" onClick="this.value = '';" onKeyDown="this.style.color = '#000000';" />
              <form class="item_list_page" method="GET" style="display: block;" action="index.php">
                  <span class="close awesome-remove" onclick="showhideSearch('2')"></span>
                  <h3>Search by your Item list</h3>
                  <textarea name="filter_name" placeholder="Eg. Atta                           Dal                                     Rice"></textarea>
                  <input type="hidden" name="route" value="product/search" />
                  <!--<div class="button-search"><img src="catalog/view/theme/grocery/image/search.png" alt="search" ></div>
                  <input class="ds_btn" type="submit" value="Search">
                  <input class="ds_btn" type="reset" value="Reset">
                  <br class="clear">
                  <div class="ds_note">
                  Use enter ( &#8629; ) to write multiple products
                  <br>
                  Press Search to complete your search.
                  </div>
              </form>
        </div>
   </div>-->
<?php } ?>
<?php } ?>

		