<?php $this->redirect($this->url->link('product/category', 'path=5')); ?>
<?php echo $header; ?>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div class="home wrap">    
<?php echo $content_top; ?>
<h1 style="display: none;"><?php echo $heading_title; ?></h1>
<?php echo $content_bottom; ?>
</div><!--/content-->
</div>

<?php echo $footer; ?>
