#feedback-body {width: 298px;max-width: 298px;}
#feedback-body-head {font-family: Tahoma, Arial;font-size: 20px;text-align: left;margin: 5px 0 15px 15px;float:left;color: #000;width:260px;}
#feedback-body-forma {text-align: left;margin:5px 15px 10px 15px;position: relative;padding: 0;}
#feedback-body-text {text-align: left;font-size: 12px;color: #777;font-family: Tahoma, Arial; position: relative;width: 260px; }
input.feedback-body-forma-input {border: 1px solid #DCDCDC;width: 244px !important;font-size: 12px; height:24px;font-family: Tahoma, Arial;color: #222;padding: 0px 10px;background: #fff;margin:0 0 10px 0;outline:none;}
input.feedback-body-forma-input:focus {border: 1px solid #afafaf;box-shadow: 0 0 5px rgba(0,0,0, 0.1) inset;outline:none;}
input.feedback-body-forma-inputreq {border-right:3px solid #f00;border-left: 1px solid #DCDCDC;border-top: 1px solid #DCDCDC;border-bottom: 1px solid #DCDCDC;width: 244px !important;font-size: 12px; height:24px;font-family: Tahoma, Arial;color: #222;padding: 0px 10px;background: #fff;margin:0 0 10px 0;outline:none;}
input.feedback-body-forma-inputreq:focus {border-right:3px solid #f00;border-left: 1px solid #afafaf;border-top: 1px solid #afafaf;border-bottom: 1px solid #afafaf;box-shadow: 0 0 5px rgba(0,0,0, 0.1) inset;outline:none;}
textarea.feedback-body-forma-input  {overflow:hidden;border: 1px solid #DCDCDC;width: 244px !important;height:100px;resize:none;font-size: 12px; font-family: Tahoma, Arial;color: #222;padding: 5px 10px;background: #fff;margin:0 0 10px 0;outline:none;}
textarea.feedback-body-forma-input:focus {border: 1px solid #afafaf;box-shadow: 0 0 5px rgba(0,0,0, 0.1) inset;overflow: hidden;outline:none;}
textarea.feedback-body-forma-inputreq {overflow:hidden;height:100px;width: 244px !important;padding: 5px 10px;resize:none;border-right:3px solid #f00;border-left: 1px solid #DCDCDC;border-top: 1px solid #DCDCDC;border-bottom: 1px solid #DCDCDC;font-size: 12px;font-family: Tahoma, Arial;color: #222;background: #fff;margin:0 0 10px 0;outline:none;}
textarea.feedback-body-forma-inputreq:focus {height:100px;resize:none;border-right:3px solid #f00;border-left: 1px solid #afafaf;border-top: 1px solid #afafaf;border-bottom: 1px solid #afafaf;box-shadow: 0 0 5px rgba(0,0,0, 0.1) inset;outline:none;}
#feedback-result {display:none;text-align: left;font-size: 14px;color: #777;font-family: Tahoma, Arial;padding-left: 15px; position: relative;float: left;margin-bottom: 25px;}
#requiredName {display:block;font-size: 11px;color: #f00;height: 0;position: relative;margin-top: -10px;margin-bottom: 5px;}
a#feedbackprosendform {
    background:#071248;
    border-radius: 5px 5px 5px 5px;
    color: #ECB41C;
    display: inline-block;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}
a#feedbackprosendform:hover {
    background:#ECB41C;
    color: #071248;
}
a#feedbackprosendform:active {
    position: relative;
    top: 1px;
}

a.feedbackprocall.button{
background: #071248;
color: #ecb41c important;
font-size: 17px;
font-weight: bold;
text-align: center;
cursor: pointer;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

a.feedbackprocall.button:hover{
background: #fff;
color: #071248 important;
border:1px #071248 solid;
}