<span style='color: #000'>933 frames</span>	<span style='color: #900'>39,168 KB</span>	<span style='color: #090'>1,842.55 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />